* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
}

p {
  margin-top: 0;
}

html,
#root {
  background: url(images/Background.jpg);
  background-size: cover;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;

  color: black;
}

.dark {
  background-size: cover;
  background-position: center;
  background-image: url(images/DarkMode.jpg);
  color: white !important;
}

.dark html,
.dark #root,
html.dark,
#root.dark {
  background-image: url(images/DarkMode.jpg);
  background-size: cover;
  background-position: center;
  z-index: 9999;
  color: white !important;
}

#toggle {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #bdb9a6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #404040;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: white;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem 2rem 2rem;
}

.header-title {
  text-align: center;
  padding-bottom: 1rem;
}

@media screen and (max-width: 782px) {
  .search-wrapper {
    flex-wrap: wrap;
    column-gap: 11px;
    flex-direction: row;
    margin-inline: 7vw !important;
  }

  #multiple {
    padding-top: 11px;
  }

  .search-box {
    min-width: 100% !important;
    text-align: center;
  }

  .search-box,
  .search-btn {
    margin-top: 0.8rem;
    flex: 1 1 100% !important;
    margin-left: 0px !important;
  }
}

.search-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 30%;
  color: rgb(36, 35, 42);
  font-size: 14px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}

.search-box:focus {
  border: 2px solid rgb(124, 138, 255);
}

.search-btn {
  margin-left: 0.625rem;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 2.4375rem;
  background-color: #9147ff;
  color: white;
  padding: 8px 16px;
  flex: 0 0 auto;
}

.checkbox-wrapper-47 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-47 label {
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  display: inline-flex;
}

.checkbox-wrapper-47 label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #9098a9;
  border-radius: 6px;
  z-index: -1;
}

.checkbox-wrapper-47 input[type="checkbox"]:checked + label {
  padding-left: 1em;
  color: #0f5229;
}

.checkbox-wrapper-47 input[type="checkbox"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #b7e6c9;
  border-color: #2cbc63;
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
  transition: 0.25s all ease;
}

.search-btn-disabled {
  background-color: rgba(145, 71, 255, 0.5) !important;
  pointer-events: none !important;
}

.search-btn:hover {
  background-color: #772ce8;
}

.no-data {
  text-align: center;
  margin-top: 1.875rem;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.lower-card :last-child .row p {
  padding-right: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 550px !important;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1.875rem;
  max-width: 550px;
  min-width: 484px;
  flex: 1 1 484px;
  border-radius: 11px;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  transition: transform 0.5s;
}
.card-content {
  backdrop-filter: blur(1rem);
  width: 100%;
}

.card:hover {
  transform: scale(1.03);
  z-index: 9999;
}

@media (max-width: 1000px) {
  .card {
    min-width: 300px;
  }
}

@media (max-width: 600px) {
  .card {
    min-width: 100%;
  }

  .search-box {
    width: 100%;
  }
}

.upper-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.lower-sec p {
  font-size: 14px;
  text-align: center;
}

.card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#top {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 18px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.info h2 {
  font-size: 24px;
}

.info p {
  font-weight: 700;
}

.info span {
  font-weight: 400;
  color: gray;
}

.dark .info span {
  color: beige;
}

.lower-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.lower-card div {
  flex: 1;
  text-align: center;
}

.lower-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#multiple {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9px;
  padding-left: 10px;
  padding-right: 10px;
  transition: transform 0.3s;
}
#multiple:hover {
  transform: scale(1.02);
  background-color: rgba(124, 185, 232, 0.5);
  border-radius: 6px;
  cursor: pointer !important;
}
#multiple label {
  cursor: pointer;
}

#multi-check {
  margin-right: 10px;
}
