* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
}
p {
  margin-top: 0;
}

/* Default styles (light mode or no mode) */
html,
#root {
  /* background: url(images/back2.jpg); */
  background: url(images/Background.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;

  /* background-color: white; */
  color: black;
  /* transition: background-color 0.5s ease, color 0.5s ease; */
}

/* Dark mode styles */
.dark {
  background: none;
  background-color: #404040;
  color: white;
}

.dark html,
.dark #root,
html.dark,
#root.dark {
  background: none;
  background-color: #404040 !important;
  z-index: 9999;
  color: white;
}

#toggle {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #bdb9a6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #404040;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: white;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}

.header-title {
  text-align: center;
}

/* .search-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
} */

/* Add media queries for smaller screens */
@media screen and (max-width: 782px) {
  .search-wrapper {
    flex-wrap: wrap;
    column-gap: 11px;
    flex-direction: row;
    margin-inline: 7vw !important;
  }
  #multiple {
    padding-top: 11px;
  }
  .search-box {
    min-width: 100% !important;
    text-align: center; 
  }
 
  .search-box,.search-btn {
    margin-top: .8rem; 
    flex: 1 1 100% !important;
    margin-left: 0px !important;

  } 
}
.search-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 30%;
  color: rgb(36, 35, 42);
  font-size: 14px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}
.search-box:focus {
  border: 2px solid rgb(124, 138, 255);
}

.search-btn {
  margin-left: 0.625rem;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 2.4375rem;
  background-color: #9147ff;
  color: white;
  padding: 8px 16px;
  flex: 0 0 auto; /* Prevent button from shrinking */
}

/* Add media queries for smaller screens */


.checkbox-wrapper-47 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-47 label {
  position: relative;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  display: inline-flex;
}

.checkbox-wrapper-47 label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #9098a9;
  border-radius: 6px;
  z-index: -1;
}

.checkbox-wrapper-47 input[type="checkbox"]:checked + label {
  padding-left: 1em;
  color: #0f5229;
}
.checkbox-wrapper-47 input[type="checkbox"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #b7e6c9;
  border-color: #2cbc63;
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
  transition: 0.25s all ease;
 
}

/* .search-btn {
  margin-left: 0.625rem;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 2.4375rem;
  background-color: #9147ff;
  color: white;
  padding: 8px 16px;
} */

.search-btn-disabled {
  background-color: rgba(145, 71, 255, 0.5);
  pointer-events: none !important;
}

.search-btn:hover {
  background-color: #772ce8; /* Darker shade of purple for hover effect */
}

.no-data {
  text-align: center;
  margin-top: 1.875rem;
  color: black;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top */
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  width: 550px; /* Set your desired width */
  height: auto; /* Allow height to adjust based on content */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1.875rem;
  max-width: 550px; /* Set a max width */
  min-width: 484px; /* Ensure cards do not get smaller than 484px */
  flex: 1 1 484px; /* Allow cards to grow and shrink, with a basis of 484px */
  border-radius: 11px;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1rem);
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 8px 1px #4b5457;
}

@media (max-width: 1000px) {
  .card {
    min-width: 300px; /* Adjust the minimum width for smaller screens */
  }
}

@media (max-width: 600px) {
  .card {
    min-width: 100%; /* Ensure cards take full width on very small screens */
  }
  .search-box {
    width: 100%;
  }
}

.upper-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Add padding if needed */
}

.lower-sec p {
  font-size: 14px;
  text-align: center;
}

.card img {
  width: 50px; /* Adjust image width as needed */
  height: 50px; /* Adjust image height as needed */
  object-fit: cover; /* Ensure image covers the space */
}

#top {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 18px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.info h2 {
  font-size: 24px;
}

.info p {
  font-weight: 700;
}

.info span {
  font-weight: 400;
  color: gray;
}
.dark .info span {
  color: beige;
}

.lower-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc; /* Add a border to separate upper and lower parts */
}

.lower-card div {
  flex: 1;
  text-align: center;
}

.lower-sec {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Adjust margin to space between row and fact */
}

#multiple {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
#multi-check {
  margin-right: 10px;
}
